@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .underline-animation::after {
    display: block;
    content: "";
    border-bottom: solid 2px;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
  }
  .underline-animation:hover::after {
    transform: scaleX(1);
  }
}

@font-face {
  font-family: 'Ultra';
  src: url('/fonts/Ultra-Regular.ttf') format('truetype');
}

.ultra {
  font-family: 'Ultra', sans-serif;
}

h2 {
  font-family: 'Ultra', sans-serif;
  font-size: x-large !important;
}

.nav-link {
  text-transform: uppercase !important;
  font-weight: 700;
  font-size: medium !important;
}
